@model WebApplication2.Models.CoursesNotes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CoursesNotes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExamName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentCourse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentCourse.StudentCourseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseNoteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
